modules = ["web", "dotnet-7.0", "nodejs-20", "dotnet-8.0"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Co-working Website"

[[workflows.workflow]]
name = "Co-working Website"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd co-working && dotnet run"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["dotnet", "publish/co-working.dll", "--urls", "http://0.0.0.0:5000"]
build = ["dotnet", "publish", "-c", "Release", "-o", "publish", "co-working/co-working.csproj"]

[userenv]

[userenv.shared]
GRAPH_CLIENT_ID = "016d365f-bc15-46bf-9c58-3df5f69015dd"
GRAPH_TENANT_ID = "e4329e91-779a-4be6-978c-d5f22a5ab22d"
GRAPH_CLIENT_SECRET = "G168Q~FXqjDwNhx7nac~otX5sdDEBMRAiBgOjdeT"
