<footer class="footer">
    <div class="footer-bottom">
        <p>&copy; @DateTime.Now.Year Brew &amp; Work. All rights reserved. &nbsp;|&nbsp; <a asp-controller="Pages" asp-action="PrivacyPolicy" class="footer-policy-link">Privacy Policy</a></p>
    </div>
</footer>
